body {
    background-color: cadetblue;
}

#headertext {
    text-align: center;
    color: aqua;
    font-family: Wingdings, Arial, "Helvetica Nueue", "Lucida Grande", sans-serif;
}

h2 {
    color: darkgrey;
    text-align: center;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
#pageheader {
    border: 1px solid red;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    padding-bottom: 100px;
    text-align: center;
    display: block;
}
#logo {
    border: 1px solid red;
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#logo img {
    width: 35%;
    height: 35%;
    float: left;
}
p {
    color: azure;
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#pagefooter {
    margin-top: 100px;
}

footer {
    text-align: center;
    color: azure;
}
.centerText {
    text-align: center;
    color: azure;
}