body {
    background-color: darkblue;
}

h1 {
    color: aqua;
    font-family: Wingdings, Arial, "Helvetica Nueue", "Lucida Grande", sans-serif;
}

h2 {
    color: dodgerblue;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}